# Start of Selection
# Ignore Jupyter notebook files
022-explore-dataset.ipynb
023-multiclass-classification.ipynb

# Ignore the crop pictures directory
crop pictures/

# Ignore temporary office files
~$*

# Ignore zip archives
*.zip 

# Ignore Word files
*.docx
*.doc
# Ignore specific Word file
DEEP LEARNING INDABA X ZIMBABWE HACKATHON.docx
# End of Selection

create_ground_truth_file.ipynb